*{
    box-sizing: border-box;
    color: #ffffff ;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(25, 25, 24, 0.899);
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    justify-content: center ;
}

.cell{
    width:  100px;
    height: 100px;
    background-color: #455be8d7;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.digit{
    visibility: hidden;
    text-decoration: none;
}

.game-info{
    display: flex;
    align-items: center;
}

.game-button{
    height: 35px;
    border-radius: 5px;
    background-color: rgb(59, 168, 16);
    border: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}

.score{
    margin-right: 10px;
}

.win-message{
    visibility: hidden;
}