<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1 class="team-header">Team</h1>
    <ul class="team-list">
        <li class="team-member">Mykola Tsaryk</li>
        <li class="team-member" >Artur Volkov</li>
        <li class="team-member">Sviatoslav ...</li>
        <li class="team-member">Adrian ...</li>
    </ul>
    <a class="button-link" href="/users">Go to Users</a>
</body>
</html>
