<!doctype html>
<html lang="en">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
<h1>This is the users page to show all users</h1>
<% for(let i = 0; i < users.length; i++) {%>
    <div class="user-block">
        <img class="user-img" src="/images/avatar.png" alt="">
        <div class="user-data">
            <p><strong>Name:</strong> <%= users[i].full_name %></p>
            <p><strong>Age:</strong> <%= users[i].age %></p>
            <p><strong>Profession:</strong> <%= users[i].profession %></p>
        </div>
        
    </div>
<% } %>
</body>
</html>
