.welcome-content {
    display: flex;
    width: 80%;
    margin: 40px auto;
}

.welcome-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.welcome-text-content h1 {
    font-size: 168px;
    font-weight: 250;
    line-height: 0.8;
    margin-bottom: 10px;
}

.welcome-text-content p {
    font-size: 24px;
    line-height: 0.8;
}

.welcome-portrait {
    display: flex;
    justify-content: center;
    width: 50%;
}

.welcome-portrait img {
    width: 75%;
}

.welcome-buttons {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    width: 50%;
    max-width: 500px;   
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to left, #646764, #333); /* Applies a gradient background from right to left */
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;  /* Smooth transition for background color */
    display: inline-block;
}

.modal-toggle {
    display: none;
}

.modal {
    display: none; /* Hides the modal by default */
    position: fixed; /* Fixes modal in place on the screen */
    top: 0; /* Positions at the top of the screen */
    left: 0; /* Positions at the left of the screen */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Sets a high stacking order to overlay content */
}

.modal-content {
    position: relative; /* Allows positioning of child elements */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 90vw; /* Limits maximum width to 90% of the viewport */
    max-height: 80vh; /* Limits maximum height to 80% of the viewport */
    text-align: center;
    overflow: auto; /* Enables scrolling if content exceeds max height */
}

.modal img.cv-image {
    max-width: 100%;
    height: auto;
}

.modal-close {
    position: absolute; /* Positions the close button within the modal */
    top: 10px; /* Positions 10px from the top */
    right: 10px; /* Positions 10px from the right */
    width: 24px; 
    height: 24px; 
    background: #333; 
    border-radius: 50%;
    cursor: pointer; /* Changes cursor to pointer */
    z-index: 10; /* Ensures close button is above other elements */
}

.modal-close::before, .modal-close::after {
    content: ''; /* Creates empty content for cross lines */
    position: absolute; /* Positions lines absolutely within the close button */
    top: 50%; /* Centers lines vertically */
    left: 50%; /* Centers lines horizontally */
    width: 2px;
    height: 16px;
    background: #fff;
}

/* ::before and ::after are pseudo-elements that add extra content or styling before or after an element's main content, without needing additional HTML. */
.modal-close::before { /* Uses ::before to create the first diagonal line of the "X" icon in the close button */
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after { /* Uses ::after to create the second diagonal line of the "X" icon in the close button */
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-toggle:checked + .modal { /* Displays the modal by changing its display property when the associated checkbox (toggle) is checked */
    /*Rule applies display: flex to .modal when: .modal-toggle is checked.*/
    display: flex;
}

@media(max-width: 900px){ /* Media query for screens 900px wide or smaller */
    .welcome-content {
        flex-direction: column-reverse; /* Stacks content vertically, with text below image */
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 10px;
    }

    .welcome-text-content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .welcome-text-content h1 {
        font-size: 62px;
        font-weight: 250;
    }

    .welcome-text-content p {
        font-size: 18px;
        font-weight: 250;
        text-align: center;
    }

    .welcome-buttons {
        padding: 5px;
        font-size: 12px;
        margin: 10px 0 0 0;
    }

    .welcome-portrait {
        margin: 10px;
    }

    .welcome-portrait img {
        width: 100%;
        background: linear-gradient(to bottom, #e3e1da, #c4c5b6);
        border-radius: 25px;
    }
}
